<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Washing station</title>
</head>
<body>
<h2>Click link when new washing started</h2>
<a href="/washing">Refresh</a>
<table >
    <thead>
    <tr>
        <td>Laundry Id</td>
        <td>Hotel</td>
        <td>Bed clothes No</td>
        <td>Towels no</td>
        <td>When delivered</td>
        <td>When started washing</td>
<!--        <td>When started Drying</td>-->
<!--        <td>When finished</td>-->
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cloth : ${washing}">
        <td th:text="${washing.getId()}"></td>
        <td th:text="${washing.getCustomer().getName()}"></td>
        <td th:text="${washing.getTowelsAmount()}"></td>
        <td th:text="${washing.getBedclothesAmount()}"></td>
        <td th:text="${washing.getDelivered()}"></td>
        <td>
            <a id="confirmLink" th:href="@{/washingForm/{id}(id=${washing.id})}"
               onclick="document.getElementById('confirmLink').style.display='none'"
            >Start washing</a>
        </td>

<!--        <td th:text="${washing.getStartWashing()}"></td>-->
<!--        <td th:text="${washing.getStartDrying()}"></td>-->
<!--        <td th:text="${washing.getFinished()}"></td>-->
    </tr>
    </tbody>
</table>
</body>
</html>